 /* Erika Joshi - Homework 3
   using HTML form */
fieldset{
  width: 45%;
  border-radius: 10px;
  background-color: rgb(224, 226, 251);
}
legend{
  border: 1px solid;
  font-size: 18px;
  font-family:'Arial';
  background-color:white;
}

.lbl {
  float: left;
  width: 200px;
  margin-top: 6px;
}

.data {
  float: left;
  width: 400px;
  margin-top: 6px;
}

.row{
  margin-bottom: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
label{
  font-weight: bold;
  font-size: 18px;
}
#submit{
  background-color:rgb(224, 160, 160);
  font-weight: bold;
  font-size: 18px;
  padding:5px 10px;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(154, 147, 113, 0.95);
}
.seek-age{
  width: 40px;
}

.input-box{
  width: 80px;
}
#dont-know{
  color:red
}