<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="dict.css">


    <title>English Dictionary</title>
</head>

<body>
    <div id="header">
        <h1 class="content">WAP Online Dictionary</h1>
    </div>
    <div class="content">
        <form>
            <script src="dict.js"></script>
            <input type="text" id="word" placeholder="Enter word to search">
            <input type="button" id="search" value="Lookup">
        </form>

    </div>
    <div id="list">
        <div id="loader" class="lds-dual-ring hidden overlay"></div>
        <ul></ul>
    </div>

    <footer>
        <div class="validator-block">
            <a href="http://validator.w3.org/nu/?doc=https://dream-raider.github.io/english-dictionary/views/dict"
                target="_blank">
                <img src="https://manalabs.org/img/w3c-html.png" alt="HTML validator icon" />
            </a>

            <a href="http://jigsaw.w3.org/css-validator/validator?uri=https://dream-raider.github.io/english-dictionary/css/dict.css"
                target="_blank">
                <img src="https://manalabs.org/img/w3c-css.png" alt="CSS validator icon" />
            </a>
        </div>

    </footer>
</body>

</html>